<!DOCTYPE html>
<html ng-app="Simpleform">
  <head>
    <meta charset="utf-8">
    <script src="js/angular.min.js" charset="utf-8"></script>
    <<script src="js/app.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body ng-controller="RegistrationController as reg">
    <h1>registration form</h1>
    <fieldset>

    <form name='regForm' novalidate>

      <input type='text' name='username' ng-model=reg.user.username placeholder="enter your name" required minlength="4" ng-maxlength="10"
      >
      {{reg.user.username}}
      <span ng-if="((regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched)">
        username must be atleast 4 characters long
        </span>
        <span ng-if="(regForm.username.$error.maxlength && regForm.username.$touched)">
          username must not be more than 10 characters
          </span>
          </form>
          </fieldset>

  </body>
</html>
